<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home</title>
	<link rel="icon" th:href="@{/admin/images/favicon-32x32.png}" sizes="32x32"
			type="image/png">
	
	<link rel="canonical"
		href="https://getbootstrap.com/docs/4.0/examples/carousel/">	
	<link th:href="@{/client/docs/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/client/docs/css/carousel.css}" rel="stylesheet">
	
	<!-- Add bs4 -->
	<link rel="stylesheet" th:href="@{/client/docs/css/style.css}">
	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" th:src="@{/client/countdown/countdown.js}"></script>
</head>
<body>

</body>
</html>