<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Header</title>
</head>
<body>
	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" th:fragment="navigation">
		<a class="navbar-brand" th:href="@{/admin/index}"><img th:src="@{/admin/images/logo.png}"
			style="height: 40px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/admin/index}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/user/list}">User</a></li>
				<li class="nav-item"><a class="nav-link" 
				    th:href="@{/admin/exercise/list}">Exercise</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav><br/>
</body>
</html>